#slide-table {
	font-family: 'Arial';
	font-size:18px;
	width: 550px;
	margin:0px auto;
	padding: 20px 0px;
	border:solid 1px #e1e1e1;
	box-shadow: 0px 3px 5px #cccccc;
	border-radius: 0px 0px 10px 10px;
	color: #000;
	color: {{stCtrl.fontcolor}};/*Gets color from Directive scope*/
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #ffffff 20%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#ffffff 20%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#ffffff 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#slide-table .title{
	padding:20px;
	font-weight:bold;
}
#slide-table>input{
	font-size:16px;
	padding:5px;
	margin-bottom:20px;
	border-radius:0px 5px 5px 0px;
	border:solid 1px #ccc;
}
#slide-table .description {
	padding:20px;
	min-height:215px;
	max-height:215px;
	overflow-y:auto;
	opacity: {{stCtrl.opacity}};
	-webkit-opacity: {{stCtrl.opacity}};
	-moz-opacity: {{stCtrl.opacity}};
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
	background: url({{stCtrl.bgImage}}) no-repeat center rgba(255,255,255,0.4);
}
#slide-table .description .text-view {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding:20px;
}
#slide-table .description.fadeout {
	opacity:0;
	-webkit-opacity: 0;
	-webkit-opacity: 0;
  -moz-opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
#slide-table .description.opacity1 {
	opacity:1;
	-webkit-opacity: 1;
	-webkit-opacity: 1;
  -moz-opacity: 1;
}
#slide-table .description.fadein {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
  /*opacity: 1;*/
	-webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
