.test-d {
	margin: 30px auto;
	width:125px;
	padding:25px 20px;
	color:#fff;
	font-family: 'Arial';
	font-weight:bold;
	background:#FF0000;
	border: solid 2px #fff;
	box-shadow: 0px 0px 5px #000;
	border-radius:100px;
	text-align: center;
	cursor:pointer;
}
.test-d h1{
	font-size: 30px;
}
